html,body
{
   height:100%;
}

.navbar 
{
   margin-bottom:0px;
}
.jumboText 
{
   padding:50px;
   margin-top:0px;
}
.bigIcon
{
   font-size: 50px;
}

.panelTitlePadding
{
   padding: 20px;
   color:#4d4d4d;
   background-color: #d3d3d3;
}
.padding20
{
   padding: 20px;
   text-align: center;
}
th
{
   color:#FFFFFF;
   background-color: #2F2F2F;
}
tr
{
   color:#2F2F2F;
   background-color: #FFFFFF;
}

a
{
   color:white;
}
a:hover
{
   
   text-decoration: none;
}
.txtAbout:hover
{
   color: #cccc00;
}

/*.purpleLink a:hover 
{
   background-color: purple;
   color:white;
   text-decoration: none;
}*/


@media only screen and (max-width: 600px)
{
   .desc
   {
      display: none;
   }
   .panel-group
   {
      margin: 0px;
   }
}
@media only screen and (max-width: 1000px)
{
   .descSM
   {
      display: none;
   }
}

