html,body
{
   height:100%;
}

.navbar 
{
   margin-bottom:0px;
}
.jumboText 
{
   padding:50px;
   margin-top:0px;
}
.bigIcon
{
   font-size: 50px;
}

.panelTitlePadding
{
   padding: 20px;
   color:#4d4d4d;
   background-color: #d3d3d3;
}
th
{
   color:#FFFFFF;
   background-color: #2F2F2F;
}
tr
{
   color:#2F2F2F;
   background-color: #FFFFFF;
}
a
{
   color: #4d4d4d;
}
a:hover
{
   text-decoration: none;
}
